<div class="container d-flex flex-wrap justify-content-around">
  <% @users.each do |user| %>
    <div class="card mb-5 " style="width: 18rem;">
      <%= image_tag 'user.jpeg', class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title"><%= user.name %></h5>
        <% if FriendRequest.find_by(user: current_user, friend: user, accepted: nil).present? %>
          <p class="card-text">Friend request sent</p>
        <% else %>
          <%= link_to 'Send friend request', friend_requests_path(friend_id: user.id), method: :post %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>