<h1>Friend Requests</h1>

<ul>
  <% @requests.each do |request| %>
    <li>Friend name: <%= request.friend.name %></li>
    <li>Friend email: <%= request.friend.email %></li>
    <li>Request accepted?: <%= request.accepted? %></li>
  <% end %>
</ul>